<?php

/**
 * c't Task API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI-Generator
 * https://openapi-generator.tech
 * Do not edit the class manually.
 *
 * Source files are located at:
 *
 * > https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/php-laravel/
 */

/**
 * post createTask
 * Summary: Create a task
 * Notes: 

 */
Route::post('/cttaskapi/tasks', 'TasksController@createTask');
/**
 * get getTasks
 * Summary: Get all tasks
 * Notes: 
 * Output-Formats: [application/json]
 */
Route::get('/cttaskapi/tasks', 'TasksController@getTasks');
/**
 * delete deleteTask
 * Summary: delete a task
 * Notes: 

 */
Route::delete('/cttaskapi/tasks/{taskId}', 'TasksController@deleteTask');
/**
 * get getTaskById
 * Summary: Info for a specific Task
 * Notes: 
 * Output-Formats: [application/json]
 */
Route::get('/cttaskapi/tasks/{taskId}', 'TasksController@getTaskById');
/**
 * put updateTask
 * Summary: update a specific task
 * Notes: 
 * Output-Formats: [application/json]
 */
Route::put('/cttaskapi/tasks/{taskId}', 'TasksController@updateTask');

